{
  "extends": ["airbnb", "airbnb-typescript", "plugin:prettier/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "."]
      }
    }
  },
  "rules": {
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", 180, 2],
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 6 }],
    "arrow-body-style": "off",
    "match-default-export-name": "off",
    "no-param-reassign": "off",
    "func-names": "off",
    "consistent-return": "off",
    "import/no-self-import": "off",
    "no-restricted-globals": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/quotes": "off"
  },
  "globals": {
    "localStorage": true,
    "fetch": true,
    "window": true,
    "document": true,
    "JSX": true
  }
}
