backend/*.pyc
backend/__pycache__
backend/.env

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js


# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*