$primary: #000;
$second: #E02401;
.btn {
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 0.3em 1.25em;
  line-height: 1.5em;
  font-weight: 700;
  margin: 10px 0;
}
.block {
  width: 100%;
  display: block;
}
.link {
  border: none;
  background: none;
  color: rgb(39, 39, 39);
  padding: 0 10px;
  line-height: 1;
}
@mixin buildVariant($color, $variant) {
  .#{$variant} {
    border: 2px solid $color;
    background-color: $color;
    color: #fff;
    &:hover {
      color: $color;
      background-color: #fff;
    }
  }
  .block-#{$variant} {
    @extend .#{$variant};
    @extend .block;
  }
  .outline-#{$variant} {
    border: 2px solid $color;
    background-color: #fff;
    color: $color;
    &:hover {
      color: #fff;
      background-color: $color;
    }
  }
  .block-outline-#{$variant} {
    @extend .outline-#{$variant};
    @extend .block;
  }
}
.disable {
  color: rgb(115, 114, 114);
  cursor: initial;
}
@include buildVariant($primary, 'primary');
@include buildVariant($second, 'second');
