@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
.app {
  padding: 10px;
}
.list-image {
  position: relative;
  width: 100%;
}
.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.m-auto {
  margin: 0 auto;
}
.mt-3 {
  margin-top: 1.25em;
}
.form-350 {
  max-width: 350px;
}

.loader {
  margin: 0 auto;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  animation: spin 1.5s linear infinite;
  &, &.size-sm {
    width: 24px;
    height: 24px;
  }
  &.size-lg {
    width: 48px;
    height: 48px;
    border-width: 5px;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}