.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  & > * {
    padding: 0 1em;
  }
  @media (max-width: 575px) {
    grid-template-columns: 1fr;
    & > * {
      padding: 0;
    }
    .uploadFile {
      margin-bottom: 20px;
    }
  }
}

.uploadFile {
  position: relative;
  height: 350px;
  background-color: rgb(209, 130, 55);
  border-radius: 10px;
  border: 5px dashed rgb(47, 47, 47);

  h3 {
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    color: rgb(201, 201, 201);
    text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    left: 0;
    top: 0;
  }
  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.wrapper {
  max-width: 1024px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
  padding: 20px;
  & > .image {
    padding-right: 10px;
    .featuredImage {
      position: relative;
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;
      }
      &:hover {
        .link {
          visibility: visible;
        }
      }
      .link {
        position: absolute;
        bottom: 5px;
        left: 5px;
        padding: 0.75em 1.5em;
        border-radius: 20px;
        background-color: rgba($color: #fff, $alpha: 0.9);
        visibility: hidden;
        a {
          color: #000;
          font-weight: bolder;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  & > .pin {
    padding-left: 10px;
    position: relative;
    .save {
      position: absolute;
      top: 0;
      right: 0;
      .btnSave {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        background-color: rgb(255, 255, 255);
        &:hover {
            background-color: rgb(233, 21, 21);
            svg {
              fill: #fff;
            }
        }
      }
    }
    .title {
      padding: 20px 0;
      font-size: 32px;
      font-weight: bolder;
      line-height: 1.25em;
    }
    .user {
      display: flex;
      align-items: center;
      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 48px;
          height: 48px;
          max-width: 48px;
          max-height: 48px;
          object-fit: cover;
        }
      }
      .fullname {
        font-weight: 500;
        a {
          color: #000;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .content {
      padding: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.25em;
    }
    .formContent {
      form {
        display: flex;
        gap: 10px;
      }
      input, button {
        padding: 0.5em;
        border-radius: 0.5em;
        border: 2px solid;
      }
      input {
        width: 100%;
        border-color: rgb(216, 214, 214);
      }
      button {
        color: #fff;
        border-color: rgb(0, 199, 13);
        background-color: rgb(0, 199, 13);
        padding: 0 10px;
        font-weight: bolder;
        &:hover {
          background-color: rgb(5, 184, 17);
        }
      }
    }
    .listComment {
      margin-top: 10px;
      max-height: 400px;
      overflow-y: auto;
      li {
        display: flex;
        margin-bottom: 10px;
        .body {
          .fullname {
            margin-top: 5px;
            font-weight: 500;
          }
          .cmtContent {
            font-size: 14px;
            padding: 5px 0;
          }
        }
      }
      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 48px;
          height: 48px;
          max-width: 48px;
          max-height: 48px;
          object-fit: cover;
        }
      }
    }
  }
}
