.list {
  li {
    padding: 0.5em;
    &.main {
      color: rgb(49, 49, 49);
      font-weight: 400;
      font-size: 14px;
    }
    &:not(.main) {
      font-weight: bolder;
      cursor: pointer;
      &:hover {
        border-radius: 5px;
        background-color: rgb(211, 209, 209);
      }
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
}